
<!-- footer.component.html -->
<footer class="footer-container">
    <div class="footer-section">
      <h4>Contact</h4>
      <ul>
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a></li>
        <li><a href="/about"><i class="fas fa-info-circle"></i> About Us</a></li>
        <li><a href="/help"><i class="fas fa-question-circle"></i> Help</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h4>User Profile</h4>
      <ul>
        <li><a href="/reg-form"><i class="fas fa-user"></i> Your Profile</a></li>
        <li><a href="/sales"><i class="fas fa-percent"></i> Sales</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h4>Explore</h4>
      <ul>
        <li><a href="/new-arrivals"><i class="fas fa-star"></i> New Arrivals</a></li>
        <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
      </ul>
    </div>

    <label class="logo" [routerLink]="['/home']">SpaneXxKart</label>
  </footer>
  