.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .sale-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ekart-product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .wishlist-icon {
    color: #ff4500; /* Adjust the color as needed */
    font-size: 20px;
    margin-top: 8px;
  }
  
  .ekart-product-name {
    font-size: 1.2em;
    margin: 8px 0;
  }
  
  .ekart-product-category {
    color: #555;
    font-size: 0.9em;
  }
  
  .ekart-product-available-colors {
    font-size: 0.9em;
    color: #007bff; /* Adjust the color as needed */
  }
  
  .ekart-inventory-status {
    font-size: 0.9em;
    margin-top: 8px;
    color: #28a745; /* Green for 'Available', adjust as needed */
  }
  