<div class="filter-container">
    <span>Filter: </span>
    <input type="radio" name="filter" value="all" 
    [(ngModel)]="selectedButton" 
    (change)="onSelectedButtonchange()"/>
    <span>All ({{all}}) </span>

    <input type="radio" name="filter" value="true" 
    [(ngModel)]="selectedButton" 
    (change)="onSelectedButtonchange()"/>
    <span>In Stock ({{inStock}}) </span>


    <input type="radio" name="filter" value="false" 
    [(ngModel)]="selectedButton" 
    (change)="onSelectedButtonchange()"/>
    <span>Out of Stock ({{outOfStock}})</span>

</div>
