<!-- product list component -->
<div class="filter">
    <app-filter 
      [all]="All"
      [inStock]="InStock"
      [outOfStock]="outOfStock"
      (selectedButtonchange)="onFilterChanged($event)">
    </app-filter>
  </div>
  
  <div class="card-container">
    <ng-container *ngFor="let product of products" >
      <div *ngIf="selectedButton === 'all' || product.isInInventory.toString() === selectedButton" >
        <!-- Sale Card -->
        <div class="sale-card"  (click)="onSelectedProduct(product)">
             <i class="far fa-heart wishlist-icon"></i>
          <img [src]="product.imageUrl" class="ekart-product-image" alt="Product Image">
         
  
          <div class="product-details">
            <h3 class="ekart-product-name">{{ product.name }}</h3>
            <p class="ekart-product-category">{{ product.gender }} - {{ product.category }} - {{ product.brand }}</p>
            <p class="ekart-product-available-colors">{{ product.colors.length }} Colors - Best Seller</p>
            <div class="ekart-inventory-status">
              {{ product.isInInventory ? 'Available' : 'Not In Stock'}}
            </div>
          </div><br>
  
          <div class="ekart-color-box" *ngIf="isHovered(product.colors) && product.isInInventory">
            <div *ngFor="let color of product.colors" class="color-box" [style.background-color]="color"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <product-detail *ngIf="selectedProduct" [product]="selectedProduct"></product-detail>
  